
@{
    ViewBag.Title = "Index";
}

<h2>CAC KHOA HOC SAP TOI</h2>

<div class="row">
    <ul>
        @foreach (var course in Model)
        {
            <li>
                @course.DateTime.ToString("dd/MM/yyyy HH:mm") - @course.Name
            </li>
        }
    </ul>
</div>

